<!-- <nav class="align-items-center navbar navbar-expand-md avbar-light bg-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
        aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars" style="color: white;"></i>
    </button>
    <a href="/" class="navbar-brand">
        <h1>C<strong style="color: rgb(226, 177, 15);">{}</strong>de Alms</h1>
    </a>

    <div class="collapse navbar-collapse  id=" navbarsExample08">
        <p>Em desenvolvimento!</p>
    </div>
</nav> -->

<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">
            <h1 class="text-white">C<strong style="color: rgb(226, 177, 15);">{}</strong>de Alms</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark pl-3 pt-0 pb-3">
            <h4 class=" text-white">Projeto em desenvolvimento 🚧</h4>
            <span class="text-muted">Feito com ❤️ e ☕ por Tiago de Castro!</span>
        </div>
    </div>
</div>