<div class="fixed-bottom" style="margin-top: 150px;">
  <footer class="mt-auto py-3 bg-dark">
    <div class="container d-flex justify-content-center align-items-center">

      <ul class="d-flex m-0 text-muted" style="list-style: none;">
        <li>
          <a href="https://www.instagram.com/tiago.cali/" target="_blank" class="text-muted">
            <i class="fa-brands fa-instagram mr-4"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/Casmei" target="_blank" class="text-muted">
            <i class="fa-brands fa-github mr-4"></i>
          </a>

        </li>
        <li>
          <a href="https://www.linkedin.com/in/tiago-de-castro-lima-3814911b9/" target="_blank" class="text-muted">
            <i class="fa-brands fa-linkedin mr-4"></i>
          </a>
        </li>
      </ul>

    </div>
  </footer>
</div>