<%- include ('partials/header.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>

            <div class="container ">
                <br>
                <h1 class="">Pergunta não encotrada!</h1>
                <hr>
                <a href="/" class="btn btn-dark">Página Principal</a>

            </div>

    </body>

    <%- include ('partials/footer.ejs') %>